@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --light-grey: #f5f6f7;
  --medium-grey: #d3d3d3;
  --dark-grey: #444444;
  --fcc-blue: #1b1b32;
  --light-yellow: #fecc4c;
  --dark-yellow: #feac32;
  --light-pink: #ffadad;
  --dark-red: #850000;
  --light-green: #acd157;
}

* {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  background-color: var(--light-grey);
  color: var(--dark-grey);
 
}

main {
  margin-top: 4rem;
}

.container {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-weight: 400;
}

.container {
  width: 90%;
  max-width: 680px;
  margin: auto;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

fieldset {}

h1,
.container,
.output {
  margin-bottom: 20px;
}



button {
  cursor: pointer;
  text-decoration: none;
  background-color: var(--light-yellow);
  border: none !important;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

button,
input,
select {
  min-height: 24px;
  color: var(--dark-grey);
}

fieldset,
button,
input,
select {
  margin-bottom: 10px;
  padding: 0.2rem 0.6em;
  border-radius: 0.8rem;
  border: 1px solid var(--medium-grey);
}

.output {
  border-radius: 0.8rem;
  border: 1px solid var(--medium-grey);
  padding: 10px;
  text-align: center;
}

.hide {
  display: none;
}

.output span {
  font-weight: bold;
  font-size: 1.2em;
}

.surplus {
  color: var(--light-pink);
}

.deficit {
  color: var(--light-green);
}